html {
    height: 100%;
    color: gray;
  }
  body {
    margin: 5;
    height: 100%;
    font-family: helvetica;
    background-color: #A9A9A9;
  }
.container {
    font-size: 100px;
    position: relative;
    text-align: center;
    color: black;
}
.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

 }  
 
 .nav {
  display: flex;
}

nav {
 text-align: center;
 margin: 20px 0 0 ;
 padding: 10px 0;
 }
 
 nav ul{
   margin:0 3rem 0 0;
   padding:0;
   list-style:none;
   display:flex;
   flex:1 0 0%;
   justify-content:space-between
 }
 
 nav li {
    display: inline-block;
    padding: 5px 5px;
 }

  h2 {
    text-align: center;
  }

 .pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } 

  p {
    text-align: center;
  }

  .bill {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 