html {
    height: 100%;
    color: gray;
  }
  body {
    margin: 5;
    height: 100%;
    font-family: helvetica;
  }
.container {
    font-size: 100px;
    position: relative;
    text-align: center;
    color: black;
}
.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

nav {
    background-color: black;
    }

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
      }

 nav ul li {
    color: white;
    display: inline-block;
    margin: 20px;
    font-size: 24px;
 }  