html {
    height: 100%;
    color: gray;
  }
  body {
    margin: 5;
    height: 100%;
    font-family: helvetica;
    background-color: #A9A9A9;
  }
.container {
    font-size: 100px;
    position: relative;
    text-align: center;
    color: black;
}
.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
 }  
 
 #nav {
  text-align: center;
  min-width: 500px;
}
#nav:after {
  content: '';
  display: inline-block;
  width: 100%;
}
#nav li {
  display: inline-block;
}

  h2 {
    color: black;
    text-align: center;
  }

 .pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 10px 10px gray;

  } 

  p {
    color: black;
    text-align: center;
  }

  .bill {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 10px 10px gray;
  }


 