html {
    height: 100%;
    color: gray;
  }
  body {
    margin: 5;
    height: 100%;
    font-family: helvetica;
    background-color: #A9A9A9;
  }
 }  

 .container {
  position: relative;
  text-align: center;
  color: black;
 }
 .centered {
  font-size: 75px;
  color: black;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 #radio {
   margin-bottom: 50px; 
 }
 
 .nav {
  font-size: 25px;
  text-align: center;
  min-width: 500px;
}

.nav:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.nav li {
  margin: 5px 30px 20px 30px; 
  position: relative;
  display: inline-block;
}

  h2 {
    margin: 20px 20px ;
    color: black;
    text-align: center;
  }

 .pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 10px 10px 5px gray;
    border-radius: 25px;

  } 

  p {
    color: black;
    text-align: center;
  }

  .bill {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 10px 10px 5px gray;
    border-radius: 25px;
  }

  a {
    background-color: #463d3d46;
    color: white;
    padding: 7px 25px;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
  }
  a:link {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: maroon;
  }
 
 



 